@import "tailwindcss";

:root {
  --Seasalt: #F8F9FA
  --AntiFlash: #E9ECEF;
  --Platinum: #DEE2E6;
  --FrenchGray: #CED4DA;
  --FrenchGray2: #ADB5BD;
  --SlateGray: #6C757D;
  --OuterSpace: #495057;
  --Onyx: #343A40;
  --EerieBlack: #212529;
}

body {
  background: var(--AntiFlash);
  font-family: Roboto, sans-serif;
}

.header {
  /* background: var(--FrenchGray); */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.app-name {
  color: #212529;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.date-time {
  color: #343A40;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.app-box-container {
  padding: 2rem;
  column-gap: 1rem;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 0.5rem;
  background: var(--Platinum);
  margin-bottom: 5rem;
  border-radius: 1rem;
}

.app-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  column-gap: 0.5rem;
  border-radius: 1rem;
}

.link-box {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 200px;
}
